{% extends "layout.html" %}

{% block content %}
<div class="jumbotron">
    <h2 style=" text-align:center">{{ title }} </h2>
</div>
<div class="container">
    
</div>

<div class="row">
    <div class="col-sm-4"><img src="./static/Images/2.JPG" class="img-rounded" alt="Cinque Terre" width="300"></div>
    <div class="col-sm-8">
        <address>
            <abbr title="Name">Name:</abbr>
            LE VIET DUY ANH<br />
            <abbr title="Class">Class:</abbr>
            FEB09<br />
            <abbr title="Phone">Phone:</abbr>
            0983.597.077
        </address>
        <address>
            <strong>Email:</strong>   <a href="mailto:anh20mse23028@fsb.edu.vn">anh20mse23028@fsb.edu.vn</a><br />
        </address>
    </div>
</div>
{% endblock %}
