{% extends "layout.html" %}

{% block content %}
    <div class="jumbotron">
        <h1 style=" text-align:center">Student List </h1>
    </div>
    <div class="table-responsive">
        <table class="table table-hover">
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Email</th>
                <th>Date of Birth</th>
                <th>Home Town</th>
                <th>Score</th>
                <th>Action</th>
            </tr>
            {% for row in rows %}
            <tr>
                <form action="{{url_for('mod_stu') }}" method="post">
                <td>{{row["ID"]}}</td>
                <td>{{row["Name"]}}</td>
                <td> {{ row["Email"]}}</td>
                <td>{{row["DoB"]}}</td>
                <td>{{row["Home"]}}</td>
                <td>{{row["Score"]}}</td>
                <td>
                    <input type="hidden" value="{{row["ID"]}}" name="_ID" />
                    <input class=btn-warning name="action" id="Submit1" type="submit" value="Update" />
                    <input class=btn-danger name="action" id="Submit2" type="submit" value="Delete" />
                </td>
                </form>
            </tr>
            {% endfor %}
        </table>
    </div>

    {% endblock %}
